<%- contentFor('body') %>
<h1>Gestão Financeira</h1>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Corrupti minus nesciunt nemo dignissimos quis quibusdam. 
        Eos numquam sequi doloremque commodi reiciendis ipsum,
        at nobis, perferendis laborum quaerat assumenda totam ducimus.
    </p>
    <img src="/financeiro.png"/>