<main class="form-signup">
    <div class="alert alert-success" role="alert">
        Cadastro realizado com sucesso!
    </div>
    <p>
        Você redirecionado para a página principal em <b>cinco segundos.</b>
    </p>
    <p>
        Caso não seja redirecionado <a href="/"> clique aqui</a>
    </p>
</main>
<script>
    setTimeout(function() {window.location.href = "/"}, 5000);
</script>
